* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color-scheme: light dark;
}

body {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: grid;
    place-content: start center; /* Alinea el contenido al inicio verticalmente y al centro horizontalmente */
    height: 100vh;
    padding: 30px;
    grid-template-rows: auto 1fr;
    background-color: black;
}

h1 {
    margin: 0;
    padding: 0;
    align-self: start; 
}

#chat {  
    height: 100%;
    width: 400px;
    overflow: hidden;
    border: solid 2px rgb(142, 142, 236);
    padding: 15px;
    border-radius:2%;
    position:relative
   
}

form{
   
    display: flex;
    align-items: center;
    position: absolute;
    bottom:12px;
    right:0;
    left:0;
    margin:5px
}

.input{
    border: solid 1px;
    border-radius: 99px;
    flex: 1;
    padding:5px;
    margin: 5px;
    height:60px
   
    
}

.btn-enviar{
    all: unset;
    margin:5px;
    height:40px;
    padding:5px;
    cursor: pointer;
    background-color: rgb(142, 142, 236);
    border-radius: 4px; }

    #mensajes {
        list-style: none;
        margin: 0;
        padding: 0;
        overflow-y: auto;
        overflow-x: hidden;
        height: 90%;
        scroll-behavior: smooth;
      
        li {
          padding: 0.5rem 1rem;
      
          small {
            display: block;
            font-size: 0.8em;
            color: #dd5050;
          }
        }
      }

  